
[package]
name = 'ton_abi'
version = "2.1.4"

[dependencies]

ton_types = { git = 'https://github.com/tonlabs/ton-labs-types.git', tag = '1.10.11' }
ton_block = { git = 'https://github.com/tonlabs/ton-labs-block.git', tag = '1.7.28' }
base64 = '0.10.0'
num-bigint = '0.2.2'
hex = '0.3.2'
serde = '1.0.91'
serde_json = '1.0.41'
serde_derive = '1.0.91'
sha2 = '0.8'
ed25519 = '1.0.1'
ed25519-dalek = '1.0.0-pre.4'
chrono = '0.4.9'
byteorder = '1.3.2'
failure = '0.1'
num-traits = '0.2.11'

[dev-dependencies]

pretty_assertions = '1.0'
rand = '0.7'

[features]

ci_run = [ ]
