[package]
name = 'ton_abi'
version = '2.3.21'

[dependencies]
base64 = '0.10.0'
byteorder = '1.3.2'
chrono = '0.4.9'
ed25519 = '1.0.1'
ed25519-dalek = '1.0.0-pre.4'
failure = '0.1'
hex = '0.3.2'
num-bigint = '0.4'
num-traits = '0.2'
serde = '1.0.91'
serde_derive = '1.0.91'
serde_json = '1.0.41'
sha2 = '0.8'
ton_block = { git = 'https://github.com/tonlabs/ton-labs-block.git', tag = '1.8.14' }
ton_types = { git = 'https://github.com/tonlabs/ton-labs-types.git', tag = '1.11.4' }

[dev-dependencies]
pretty_assertions = '1.0'
rand = '0.7'

[features]
ci_run = [  ]

